<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del estiudiante</title>
</head>
<body>
    <h1>Foto del estudiante</h1><br>
    <img src="~/img/descarga.jpg" alt="Esta es una imagen del estudiante">
    <h3>Nombre:</h3><p>Mynor Miguel Arauz Rugama</p><br>
    <h3>Edad: </h3> <p>21</p><br>
    <h3>Carrera: </h3> <p>Ingeniereia en Sistemas de Informacion</p>
</body>
</html>